@font-face {
  font-family: "roboto";
  src: url(fonts-roboto/Roboto-Medium.ttf);
  font-family: "shrikhand";
  src: url(fonts-shrikhand/Shrikhand-Regular.otf);
}
body {
  font-family: "roboto", "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}
body p {
  margin: 0;
}

h1 {
  font-size: 1.75em;
  text-align: start;
  width: 100%;
  margin: 0;
  margin-bottom: 1%;
}

h2 {
  margin: 0;
}

h3 {
  font-family: "shrikhand", "Times New Roman", Times, serif;
}

.hlogo {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 10px;
  margin: auto;
}
.hlogo a {
  text-decoration: none;
  color: black;
  display: flex;
}
.hlogo a .fas {
  font-size: 1.75em;
}
.hlogo img {
  width: 300px;
  height: 100%;
  margin: auto;
  position: relative;
  left: -15px;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 1%;
}
footer .flogo {
  padding-bottom: 1%;
}
footer .flogo img {
  color: white;
  width: 150px;
  height: 30px;
}
footer .flien {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  clear: both;
}
@media (max-width: 799px) {
  footer .flien {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
footer .flien a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  text-align: start;
}
@media (max-width: 799px) {
  footer .flien a {
    margin-bottom: 2%;
  }
}
footer .flien a .fas {
  margin-right: 2%;
}

.hlogo img {
  left: 0;
}

.localisation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 15px;
  background-color: #eaeaea;
  box-shadow: 0px 5px 5px -5px inset #6b6b6b;
  text-align: center;
}
.localisation .fas {
  margin-right: 2%;
}

.explication {
  background-color: #f6f6f6;
  margin: auto;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
}
.explication h1 {
  text-align: center;
}

.bexploration {
  display: flex;
  margin: 20px;
}
.bexploration a {
  text-decoration: none;
  color: white;
  width: 200px;
  height: 20px;
  padding: 20px;
  margin: auto;
  background: linear-gradient(0.48turn, #FF79DA, #9256dc);
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0px 4px 7px -3px #6b6b6b;
}

.fonctionnement {
  padding: 2%;
  display: flex;
  flex-direction: column;
}
.fonctionnement .fas {
  padding: 2%;
  font-size: 1.1em;
}

.Fbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 799px) {
  .Fbox {
    grid-template-columns: 1fr;
  }
}
.Fbox .F1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 40px;
  min-width: 240px;
  padding: 1%;
  padding-left: 0;
  margin-right: 5%;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 7px -3px #6b6b6b;
  align-items: center;
}
@media (max-width: 799px) {
  .Fbox .F1 {
    width: auto;
    margin-bottom: 12px;
    padding: 10px;
    padding-left: 0;
    margin-right: 0;
  }
}
.Fbox .F1 .fas {
  color: #6b6b6b;
}
.Fbox .F2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 40px;
  min-width: 240px;
  padding: 1%;
  padding-left: 0;
  margin-right: 5%;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 7px -3px #6b6b6b;
  align-items: center;
}
@media (max-width: 799px) {
  .Fbox .F2 {
    width: auto;
    margin-bottom: 12px;
    padding: 10px;
    padding-left: 0;
    margin-right: 0;
  }
}
.Fbox .F2 .fas {
  color: #6b6b6b;
}
.Fbox .F3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 40px;
  min-width: 240px;
  padding: 1%;
  padding-left: 0;
  margin-right: 0;
  background-color: #9256dc25;
  border-radius: 20px;
  box-shadow: 0px 4px 7px -3px #6b6b6b;
  align-items: center;
}
@media (max-width: 799px) {
  .Fbox .F3 {
    width: auto;
    margin-bottom: 12px;
    padding: 10px;
    padding-left: 0;
    margin-right: 0;
  }
}
.Fbox .F3 .fas {
  color: #9256dc;
}

.num {
  background-color: #9256dc;
  color: white;
  width: 20px;
  height: 20px;
  padding: 0.5%;
  border-radius: 100%;
  text-align: center;
}

#ancre-restaurant {
  padding: 2%;
  background-color: #f6f6f6;
}
#ancre-restaurant .restaurant a {
  text-decoration: none;
  color: black;
  display: inline-block;
  flex-direction: row;
  width: 45%;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 4px 7px -3px #6b6b6b;
  margin-top: 2.5%;
  margin-inline: 2%;
}
@media (max-width: 799px) {
  #ancre-restaurant .restaurant a {
    width: 100%;
  }
}
#ancre-restaurant .restaurant a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  z-index: 1;
}
#ancre-restaurant .restaurant a .new {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #99E2D0;
  color: #278870;
  padding: 10px;
  z-index: 2;
  position: relative;
}
#ancre-restaurant .restaurant a .blocrestotxt {
  display: flex;
  flex-direction: row;
}
#ancre-restaurant .restaurant a .blocrestotxt .restotxt {
  padding: 2%;
  width: 70%;
  margin: 0;
}
#ancre-restaurant .restaurant a .blocrestotxt .coeur {
  font-size: 1.75em;
  width: 20%;
  margin: auto;
  text-align: center;
}/*# sourceMappingURL=P3-style-index.css.map */