@import "./P3-style-main.scss";

.corps
{
    background-color: $palegrey-color;
    .imgfond
    {
        img
        {
            width: 100%;
            object-fit: cover;
            
        }
    }
    .corpsmenu
    {
        position: relative;
        background-color: $palegrey-color;
        bottom: 100px;
        border-radius: 50px 50px 0 0;
        padding: 2%;
        .titre
        {
            padding: 2%;
            div
            {
            	display: flex;
            	flex-direction: row;
            	text-align: center;
            	justify-content: space-around;
            	.coeur
            	{
                	font-size: 1.75em;
                	width: 20%;
            	}
            }
        }
    }
}

@keyframes menuapparition
{
    0%{
        visibility: hidden;
        opacity: 0;
        transform: translateY(25px);
    }
    100%{
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }
}

@mixin apparition ($delai: 0ms)
{
    animation: menuapparition 1500ms both;
    animation-delay: $delai;
}

.entrees
{
    padding: 2%;
    @include apparition()
}

.plats
{
    padding: 2%;
    @include apparition($delai: 500ms)
}

.desserts
{
    padding: 2%;
    @include apparition($delai: 1000ms)
}

@mixin plat 
{
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-top: 2%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 4px 7px -3px $darkergrey-color;
    justify-content: space-between;
    &:hover
    {
        .prix>.selection
        {
            display: block;
            .fa-check-circle
            {
                animation: check 750ms;
            }
        }
    }
    .txtmenu
    {
        padding: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .prix
    {
        display: inline-flex;
        width: 20%;
        justify-content: flex-end;
        @media (max-width: 799px)
        {
            width: 25%;
        }
        p
        {
            font-weight: bolder;
            padding-top: 35px;
            text-align: end;
            height: auto;
            margin-right: 10px;
        }
        .selection
        {
            display: none;
            width: 75px;
            background-color: $tertiary-color;
            border-radius: 0 15px 15px 0;
            text-align: center;
            padding-top: 15px;
            @media (max-width: 799px)
            {
                padding-top: 18px;
            }
            .fas
            {
                color: white;
                font-size: 1.75em;
                @media (max-width: 799px)
                {
                    font-size: 1.5em;
                }
            }
        }    
    }
}

@keyframes check 
{
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.menu
{
    @include plat()
}

.button
{
    display: flex;
    margin: 20px;
    text-align: center;
    position: relative;
    top: 50px;
    :hover
    {
        @include btn-hover();
    }
    a
    {
        @include lien($color: white);
        @include btn();
    }
}