@import "./P3-style-main.scss";

.hlogo
{
    img
    {
        left: 0;
    }
}

.localisation
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 15px;
    background-color: $grey-color;
    box-shadow: 0px 5px 5px -5px inset $darkergrey-color;
    text-align: center;
    .fas
    {
        margin-right: 2%;
    }
}

.explication
{
    background-color: $palegrey-color;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
    h1
    {
        text-align: center;
    }
}

.bexploration
{
    display: flex;
    margin: 20px;
    a
    {
        @include lien($color: white);
        @include btn($width:200px);
    }
}

.fonctionnement
{
    padding: 2%;
    display: flex;
    flex-direction: column;
    .fas
    {
	    padding: 2%;
	    font-size: 1.1em;
    }
}

@mixin F0($background-color: $palegrey-color, $margin-right: 5%) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 40px;
    min-width: 240px;
    padding: 1%;
    padding-left: 0;
    margin-right: $margin-right;
    background-color: $background-color;
    border-radius: 20px;
    box-shadow: 0px 4px 7px -3px $darkergrey-color;
    align-items: center;
    @media (max-width: 799px)
    {
        width: auto;
        margin-bottom: 12px;
        padding: 10px;
        padding-left: 0;
        margin-right: 0;
    }
}

.Fbox
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width:799px)
    {
        grid-template-columns: 1fr;
    }
    .F1
    {
        @include F0();
        .fas
        {
            color: $darkergrey-color;
        }
    }
    .F2
    {
        @include F0();
        .fas
        {
            color: $darkergrey-color;
        }
    }
    .F3
    {
        @include F0($background-color: #9256dc25, $margin-right:0);
        .fas
        {
            color: $primary-color;
        }
    }
}

.num
{
	background-color: $primary-color;
	color: white;
	width: 20px;
	height: 20px;
	padding: 0.5%;
	border-radius: 100%;
	text-align: center;
}

@mixin restoindex
{
    display: inline-block;
    flex-direction: row;
    width: 45%;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 4px 7px -3px $darkergrey-color;
    margin-top: 2.5%;
    margin-inline: 2%;
    @media (max-width: 799px)
    {
        width: auto;
    }
    img
    {
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
        z-index: 1;
    }
    .blocrestotxt
    {
        display: flex;
        flex-direction: row;
        .restotxt
        {
            padding: 2%;
            width: 70%;
            margin: 0;
        }
        .coeur
        {
            font-size: 1.75em;
            width: 20%;
            margin: auto;
            text-align: center;
        }
    }
}

#ancre-restaurant
{
    padding: 2%;
    background-color: $palegrey-color;
    .restaurant
    {
        a
        {
            @include lien();
            @include restoindex();
            .new
            {
                width: fit-content;
                background-color: $tertiary-color;
                color: darken($color: $tertiary-color, $amount: 40%);
                padding: 10px;
                z-index: 2;
                position: absolute;
                top: 12px;
                right: 12px;
            }
        }
    }
}