@font-face
{
    font-family: 'roboto';
    src: url(fonts-roboto/Roboto-Medium.ttf);
    font-family: 'shrikhand';
    src: url(fonts-shrikhand/Shrikhand-Regular.otf);
}

$primary-color: #9256dc;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$grey-color: #eaeaea;
$darkergrey-color: darken($grey-color,50%);
$palegrey-color: #f6f6f6;
$footer-color: #353535;

@mixin lien($color: black )
{
    text-decoration: none;
    color: $color;
}

@mixin btn($background-color: linear-gradient(0.48turn, $secondary-color, $primary-color), $width:150px) 
{
    width: $width;
    height: 20px;
    padding: 20px;
    margin: auto;
    background: $background-color;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 4px 7px -3px $darkergrey-color;    
}

@mixin btn-hover 
{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    box-shadow: 0px 7px 7px -1px $darkergrey-color;
    opacity: 0.9;
}

body
{
    font-family: 'roboto', 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    p
    {
        margin: 0;
    }
}

h1
{
    font-size: 1.75em;
    text-align: start;
    width: 100%;
    margin: 0;
    margin-bottom: 1%;
}

h2
{
    margin: 0;
}

h3
{
    font-family: 'shrikhand', 'Times New Roman', Times, serif;
    font-size: 2em;
    margin: 0;
    @media (max-width: 799px)
    {
        font-size: 1.5em;
    }
}

h4
{
    font-size: 1.5em;
    margin: 0;
    &::after
    {
        content: '';
        background: $tertiary-color;
        height: 2px;
        width: 50px;
        display: flex;
    }
    @media (max-width: 799px)
    {
        font-size: 1.2em;
    }
}

h5
{
    font-size: 1.25em;
    margin: 0;
    @media (max-width: 799px)
    {
        font-size: 1.1em;
    }
}

.hlogo
{
    display: flex;
    height: 50px;
    align-items: center;
    padding: 10px;
    margin: auto;
    background-color: white;
    a
    {
        @include lien();
        display: flex;
        .fas
        {
            font-size: 1.75em;
        }
    }
    img
    {
        width: 300px;
        height: 100%;
        margin: auto;
        position: relative;
        left: -15px;
        @media (max-width: 799px)
        {
            width: 200px;
            height: auto;
        }
    }
}

@mixin heart ($margin: auto)
{
    font-size: 1.75em;
    width: 20%;
    margin: $margin;
    text-align: center;
    display: grid;
    .heart
    {
        grid-row: 1;
        grid-column: 2;
        &__plein
        {
            background: linear-gradient(1turn, $secondary-color, $primary-color);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            &:hover
            {
                animation: heart 1s linear;
                animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes heart
{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

footer
{
    background-color: $footer-color;
    display: flex;
    flex-direction: column;
    padding: 1%;
    .flogo
    {
        font-family: 'shrikhand', 'Times New Roman', Times, serif;
        padding-bottom: 1%;
        font-size: 1.5em;
        color: white;
        img
        {
            color: white;
            width: 150px;
            height: 30px;
        }
    }
    .flien
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        clear: both;
        @media (max-width: 799px)
        {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
        a
        {
            @include lien($color: white);
            display: flex;
            flex-direction: row;
            text-align: start;
            @media (max-width:799px)
            {
                margin-bottom: 2%;
            }
            .fas
            {
                margin-right: 2%;
            }
        }
    }
}

