@import "./P3-style-main.scss";

.corps
{
    background-color: $palegrey-color;
    .imgfond
    {
        img
        {
            width: 100%;
            object-fit: cover;
            
        }
    }
    .corpsmenu
    {
        position: relative;
        background-color: $palegrey-color;
        bottom: 100px;
        border-radius: 50px 50px 0 0;
        padding: 2%;
        .titre
        {
            padding: 2%;
            div
            {
            	display: flex;
            	flex-direction: row;
            	text-align: center;
            	justify-content: space-around;
            	.coeur
            	{
                	font-size: 1.75em;
                	width: 20%;
            	}
            }
        }
    }
}

.entrees
{
    padding: 2%;
}

.plats
{
    @extend .entrees;
}

.desserts
{
    @extend .entrees;
}

@mixin plat 
{
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-top: 2%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 4px 7px -3px $darkergrey-color;
    justify-content: space-between;
    &:hover
    {
        .prix>.selection
        {
            display: block;
            transition: 2s;
            .fa-check-circle
            {
                animation: check 1000ms 500ms;
            }
        }
    }
    .txtmenu
    {
        padding: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .prix
    {
        display: inline-flex;
        width: 20%;
        justify-content: flex-end;
        p
        {
            font-weight: bolder;
            padding-top: 35px;
            text-align: end;
            height: auto;
            margin-right: 10px;
        }
        .selection
        {
            display: none;
            width: 75px;
            background-color: $tertiary-color;
            border-radius: 0 15px 15px 0;
            text-align: center;
            padding-top: 15px;
            .fas
            {
                color: white;
                font-size: 1.75em;
            }
        }    
    }
}

@keyframes check 
{
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.menu
{
    @include plat()
}

.button
{
    display: flex;
    margin: 20px;
    text-align: center;
    position: relative;
    top: 50px;
    :hover
    {
        transform: scale(1.05);
        transition-duration: 0.5s;
        box-shadow: 0px 0px 10px 2px $darkergrey-color;
        opacity: 0.8;
    }
    a
    {
        @include lien($color: white);
        @include btn();
    }
}

@mixin btn-hover 
{
    transform: scale(1.1);
    transition-duration: 0.5s;
    box-shadow: 0px 0px 10px 2px $darkergrey-color;
}