@font-face {
  font-family: "roboto";
  src: url(fonts-roboto/Roboto-Medium.ttf);
  font-family: "shrikhand";
  src: url(fonts-shrikhand/Shrikhand-Regular.otf);
}
body {
  font-family: "roboto", "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}
body p {
  margin: 0;
}

h1 {
  font-size: 1.75em;
  text-align: start;
  width: 100%;
  margin: 0;
  margin-bottom: 1%;
}

h2 {
  margin: 0;
}

h3 {
  font-family: "shrikhand", "Times New Roman", Times, serif;
  font-size: 2em;
  margin: 0;
}
@media (max-width: 799px) {
  h3 {
    font-size: 1.5em;
  }
}

h4 {
  font-size: 1.5em;
  margin: 0;
}
h4::after {
  content: "";
  background: #99E2D0;
  height: 2px;
  width: 50px;
  display: flex;
}
@media (max-width: 799px) {
  h4 {
    font-size: 1.2em;
  }
}

h5 {
  font-size: 1.25em;
  margin: 0;
}
@media (max-width: 799px) {
  h5 {
    font-size: 1.1em;
  }
}

.hlogo {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 10px;
  margin: auto;
  background-color: white;
}
.hlogo a {
  text-decoration: none;
  color: black;
  display: flex;
}
.hlogo a .fas {
  font-size: 1.75em;
}
.hlogo img {
  width: 300px;
  height: 100%;
  margin: auto;
  position: relative;
  left: -15px;
}
@media (max-width: 799px) {
  .hlogo img {
    width: 200px;
    height: auto;
  }
}

@-webkit-keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 1%;
}
footer .flogo {
  font-family: "shrikhand", "Times New Roman", Times, serif;
  padding-bottom: 1%;
  font-size: 1.5em;
  color: white;
}
footer .flogo img {
  color: white;
  width: 150px;
  height: 30px;
}
footer .flien {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  clear: both;
}
@media (max-width: 799px) {
  footer .flien {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
footer .flien a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  text-align: start;
}
@media (max-width: 799px) {
  footer .flien a {
    margin-bottom: 2%;
  }
}
footer .flien a .fas {
  margin-right: 2%;
}

.corps {
  background-color: #f6f6f6;
}
.corps .imgfond img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.corps .corpsmenu {
  position: relative;
  background-color: #f6f6f6;
  bottom: 100px;
  border-radius: 50px 50px 0 0;
  padding: 2%;
}
.corps .corpsmenu .titre {
  padding: 2%;
}
.corps .corpsmenu .titre div {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}
@media (max-width: 799px) {
  .corps .corpsmenu .titre div {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
.corps .corpsmenu .titre div .coeur {
  font-size: 1.75em;
  width: 20%;
  margin: 0;
  text-align: center;
  display: grid;
}
.corps .corpsmenu .titre div .coeur .heart {
  grid-row: 1;
  grid-column: 2;
}
.corps .corpsmenu .titre div .coeur .heart__plein {
  background: linear-gradient(1turn, #FF79DA, #9256dc);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.corps .corpsmenu .titre div .coeur .heart__plein:hover {
  -webkit-animation: heart 1s linear;
          animation: heart 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes menuapparition {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes menuapparition {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }
}
.entrees {
  padding: 2%;
  -webkit-animation: menuapparition 1500ms both;
          animation: menuapparition 1500ms both;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.plats {
  padding: 2%;
  -webkit-animation: menuapparition 1500ms both;
          animation: menuapparition 1500ms both;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
@media (max-width: 799px) {
  .plats {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.desserts {
  padding: 2%;
  -webkit-animation: menuapparition 1500ms both;
          animation: menuapparition 1500ms both;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

@-webkit-keyframes check {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes check {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu {
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin-top: 2%;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 4px 7px -3px #6b6b6b;
  justify-content: space-between;
}
@media (max-width: 799px) {
  .menu {
    margin-top: 5%;
  }
}
.menu:hover .prix > .selection {
  display: block;
}
.menu:hover .prix > .selection .fa-check-circle {
  -webkit-animation: check 750ms;
          animation: check 750ms;
}
.menu .txtmenu {
  padding: 10px;
  overflow: hidden;
}
.menu .txtmenu h5 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .txtmenu p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .prix {
  display: inline-flex;
  width: 20%;
  justify-content: flex-end;
}
@media (max-width: 799px) {
  .menu .prix {
    width: 25%;
  }
}
.menu .prix p {
  font-weight: bolder;
  padding-top: 35px;
  text-align: end;
  height: auto;
  margin-right: 10px;
}
.menu .prix .selection {
  display: none;
  width: 75px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  text-align: center;
  padding-top: 15px;
}
@media (max-width: 799px) {
  .menu .prix .selection {
    padding-top: 18px;
  }
}
.menu .prix .selection .fas {
  color: white;
  font-size: 1.75em;
}
@media (max-width: 799px) {
  .menu .prix .selection .fas {
    font-size: 1.5em;
  }
}

.button {
  display: flex;
  margin: 20px;
  text-align: center;
  position: relative;
  top: 50px;
}
.button :hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  box-shadow: 0px 7px 7px -1px #6b6b6b;
  opacity: 0.9;
}
.button a {
  text-decoration: none;
  color: white;
  width: 150px;
  height: 20px;
  padding: 20px;
  margin: auto;
  background: linear-gradient(0.48turn, #FF79DA, #9256dc);
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0px 4px 7px -3px #6b6b6b;
}/*# sourceMappingURL=P3-style-page.css.map */